/* HEADER */
#header .navbar .navbar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}
#wrapper {
	position: relative;
	overflow: hidden;
}
#header {
	position: relative;
	background: #BD5D38;
	padding: 15px 0 6px;
}
.logo {
	background:url(../../images/logome-white.png);
	width: 198px;
	height: 56px;
	margin: 0 0 14px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}   
.logo img {
	display: block;
	width: 100%;
	height: auto;
}
.header-content {
	position: relative;
	background: #000;
	font-family: 'Roboto', sans-serif;
}
.header-content:before {
	position: absolute;
	left: -9999px;
	right: -9999px;
	top: 0;
	bottom: 0;
	content: "";
	background: #000;
}
#header .navbar {
	background: none;
	margin: 0;
	border: 0;
	min-height: inherit;
}
#header .navbar .navbar-nav {
	font-size: 16px;
	line-height: 20px;
	font-weight: 900;
	background: #4d4d4d;
}
#header .navbar .navbar-nav li {
	border-top: 1px solid #666;
}
#header .navbar .navbar-nav li a {
	display: block;
	padding: 13px 24px;
	color: #FFF;
}
#header .navbar .navbar-nav li a:hover, #header .navbar .navbar-nav li a:focus {
	text-decoration: none;
	background: #0066cb;
	color: #FFF;
}
#header .navbar .navbar-nav li:first-child {
	border: 0;
}
#header .navbar .navbar-nav li.active a {
	background: #4d4d4d;
	color: #fff;
}
#header .navbar .navbar-nav li.active a:hover,
#header .navbar .navbar-nav li.active a:focus {
	background: #0066cb;
	color: #fff;
}
#header .navbar .nav-opener {
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	background: #000;
	padding: 12px 0 0;
	margin: 0 auto;
	display: block;
	height: 44px;
	width: 100%;
}
#header .navbar .nav-opener:hover {
	background: #000;
}
#header .navbar .nav-opener:focus {
	background: #4d4d4d;
}
#header .navbar .nav-opener .icon-bar {
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	border-top: 4px solid #fff;
	position: relative;
	width: 24px;
	margin: 0 auto;
	display: block;
}
#header .navbar .nav-opener .icon-bar:before,
#header .navbar .nav-opener .icon-bar:after {
	width: 24px;
	height: 4px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	background: #fff;
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	top: 4px;
}
#header .navbar .nav-opener .icon-bar:after {
	top: 12px;
}
#header .navbar.active .nav-opener {
	background: #4d4d4d;
	padding: 16px 0 0;
}
#header .navbar.active .nav-opener .icon-bar {
	border-top: 0;
}
#header .navbar.active .nav-opener .icon-bar:after {
	top: 4px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#header .navbar.active .nav-opener .icon-bar:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#header .navbar-header {
	width: 50%;
	border-right: 1px solid #0066cb;
}
.search-area.active .search-opener {
	background: #4d4d4d;
	color: #fff;
}
.search-opener {
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	width: 50%;
	display: block;
	color: #fff;
	height: 44px;
	background: #000;
}
.search-opener.collapsed {
	background: #000;
}
.search-opener:hover,
.search-opener:focus {
	background: #4d4d4d;
}
.search-opener:hover .fa-search,
.search-opener:focus .fa-search {
	color: #fff;
}
.search-opener .fa-search {
	font-size: 27px;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.navbar-slide {
	display: none;
}
.search-slide {
	display: none;
}
.search-box {
	position: relative;
	padding: 22px;
	background: #4d4d4d;
}
.search-box form {
	background: #fff;
	width: 100%;
	height: 42px;
	position: relative;
}
.search-box .form-control {
	width: 100%;
	height: 42px;
	border: 0;
	font-size: 16px;
	line-height: 18px;
	padding: 12px 50px 12px 12px;
	font-weight: 400;
	box-shadow: none;
	letter-spacing: 1px;
}
.search-box i {

}
.search-box button[type=submit] {
	height: 42px;
	width: 42px;
	border: none;
	background: none;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background .4s ease;
	transition: background .4s ease;
	font-size: 20px;
	color: #999;
	
}
.search-box button:focus {outline:0;}
.search-box button[type=submit]:hover {
	background: #0099CC;
	color: #fff;
}
@media (min-width: 768px) {
#header .navbar .navbar-nav {
		
		line-height: 20px;
		background: none;
		margin: 0;
	}
#header .navbar .navbar-nav li {
		border: 0;
		color: #fff;
		background: #4d4d4d;
	}

#header .navbar .navbar-nav li a {
		padding: 12px 18px;
		background-color: #000;
		font-size: 12px;
	}
#header .navbar .navbar-nav li a:hover, #header .navbar .navbar-nav li a:focus {
		background: #4d4d4d;
		color: #fff;
	}
#header .navbar .navbar-nav li.active a:hover,
#header .navbar .navbar-nav li.active a:focus {
		background: #4d4d4d;
		color: #fff;
	}
#header .navbar-header {
		display: none;
	}
	.search-area {
		position: absolute;
		right: 10px;
		top: -62px;
	}
	.search-opener {
		display: none;
	}
	.navbar-slide {
		display: block;
	}
	.search-slide {
		display: block;
	}
	.search-box {
		width: 264px;
		padding: 0;
	}
	.search-box .form-control {
		font-weight: 700;
		letter-spacing: 0;
	}
}
@media (min-width: 992px) {
#header .navbar .navbar-nav {
		font-size: 14px;
		line-height: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
#header .navbar .navbar-nav li a {
		padding: 12px 24px;
		background-color: #000;
		font-size: 15px;
	}
}
@media (max-width: 767px) {
	.header-content {
		margin: 0 -15px;
	}
}
/* FOOTER */
.footer p {
  font-size: 0.875em;
  line-height: 1.45em;
  color:#4d4d4d;
	}
.footer-container {
  background-color: #e4e4e4;
  padding: 40px 0px;
	}
.awards-container {
  background-color: #000;
  padding: 40px 0px;
	}
.footer h3 {
  color: #222222;
  font-size: 1.85rem;
  font-weight: 600;
}
.footer ul {
  list-style: none;
  padding: 0;
  font-size: 0.875em;
}
.footer li {
  padding-left: 1.1em;
	line-height: 1.4em;
}
.footer li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.1em; /* same as padding-left set on li */
  width: 1.1em; /* same as padding-left set on li */
	color: #0099CC;
}
.footer a {color: #4d4d4d;}
.footer a:hover {color: #0099CC;}
.footer-connected a:link, .footer-connected i {margin-top:2px; margin-bottom: 10px;}
.footer-connected i {font-size: 28px;}
.youku-logo {
  width: 36px;
  height: 28px;
  background-position:0px 0px;
  display: inline-block;
  text-indent: -9999px;
  background-image: url(../../images/youku-logo.png);
  line-height:28px;
	margin-top: -10px !important;
}
.youku-logo:hover {
background-position:0px 28px;
}
.cusu-logo {
	height: 28px;
	width: 72px;
	background-position:0px 0px;
	display: inline-block;
	text-indent: -9999px;
	background-image:url(../../images/cusu-logo.png);
	line-height:28px;
	}
.cusu-logo:hover{
	background-position:0px 28px;
	}
.copyright-container {
  font-size: 0.667em;
  padding: 12px 0px;
  background-color: #0861ce;
  color: #fff;
}
.copyright-container a {color: #FFF; padding-left: 7px; padding-right: 7px;}
.copyright-container a:hover {text-decoration: underline; color: #000;}
.copyright-container a:first-child {padding-left: 0px;}
.copyright-container a:last-child {padding-right: 0px;}
@media only screen and (max-width : 480px) {
	.landscape-mobile-6col {
		display: block;
		width: 100% !important;
	}
}

/* SIDE MENU */

.sidenav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar {
	position: relative;
}

.sidenav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.sidenav ul {
	font-size: 14px;
	line-height: 20px;
}

.sidenav ul li {
	margin: 0 0 2px;
	position: relative;
}

.sidenav ul li > a:not([class]) {
	display: block;
	padding: 8px 24px;
	background: #e4e4e4;
	color: #222;
	text-decoration: none;
	position: relative;
}

.sidenav ul li > a:not([class]):hover {
	background: #ccc;
	text-decoration: none;
}

.sidenav ul li > a.active {
	font-weight: 700;
}

.sidenav ul li > a.opener {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 36px;
}

.sidenav ul li > a.opener:before {
	position: absolute;
	left: 10px;
	top: 8px;
	content: "\f105";
	font-family: "FontAwesome" !important;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	font-size: 16px;
	font-weight: 400;
	color: #666;
}

.sidenav ul li.active > a:not([class]) {
	background: #ccc;
	font-weight: 700;
	text-decoration: none;
}

.sidenav ul li.active > a.opener:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.sidenav ul li > ul > li {
	margin: 0;
	border-top: 1px solid #ececec;
}

.sidenav ul li > ul > li:first-child {
	border: none;
}

.sidenav ul li > ul > li > a:not([class]) {
	background: #f4f5f9;
	padding: 9px 24px;
}

.sidenav ul li > ul > li > a:not([class]):hover {
	background: #ececec;
}

.sidenav ul li > ul > li > a.opener:before {
	left: 11px;
	top: 9px;
}

.sidenav ul li > ul > li.active > a:not([class]) {
	background: #f4f5f9;
}

.sidenav ul li > ul > li.active > a:not([class]):hover {
	background: #ececec;

}

.sidenav ul li > ul > li > ul {
	font-size: 12px;
	line-height: 20px;
}

.sidenav ul li > ul > li > ul > li > a:not([class]) {
	background: none;
	padding: 5px 10px 5px 40px;
}

/*.sidenav ul li > ul > li > ul > li.active > a:not([class]) {
	background: none;
	border-right: 3px #000000 solid;
}

.sidenav ul ul > li > ul > li > ul > li.active > a:not([class]) {
	background: none;
	border-right: 13px #000000 solid;
}*/


.sidenav ul li > ul > li > ul > li > a:not([class]):hover {
	background: #ececec;
}

.sidenav ul li > ul > li > ul > li > a.opener:before {
	top: 5px;
	left: 25px;
}
.sidenav ul li > ul > li > ul > li > ul > li a.opener:before {
	top: 5px;
	left: 40px;
}

.sidenav ul li > ul > li > ul > li.active > a:not([class]) {
	background: none;
}

.sidenav ul li > ul > li > ul > li > ul > li:first-child {
	border-top: 1px solid #ececec;
}

.sidenav ul li > ul > li > ul > li > ul > li > a:not([class]) {
	padding: 5px 26px 5px 54px;
}

body:not(.loaded) .accordion li:not(.active) .slide {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
	display: block !important;
	width: 100% !important;
}

#content {
	font-size: 15px;
	line-height: 26px;
	position: relative;
}
@media (max-width: 767px) {
#sidebar {
	padding-top: 20px;
}
}
@media (min-width: 992px) {
	.sidenav ul li > ul > li > ul > li > a:not([class]) {
		padding: 5px 10px 5px 40px;
	}

	.sidenav ul li > ul > li > ul > li > a.opener:before {
		top: 5px;
	}

	.sidenav ul li > ul > li > ul > li > ul > li > a:not([class]) {
		padding: 5px 26px 5px 54px;
	}

}


